<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_qlkh_root"
            name="QLKH"
            sequence="0"/>
          
        <menuitem name="Quản lý khách hàng" 
            id="menu_khach_hang" 
            parent="menu_qlkh_root" 
            sequence="1"
            action="action_khach_hang"
        />
    </data>
</odoo>
